<%= form_with model:[:admin, skill ] do |form| %>
  <% if skill.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
        <% skill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :skill_type%>
    <%= form.select :skill_type_id, SkillType.all.collect{|skill_types| [skill_types.name, skill_types.id] } , selected: SkillType.first%>
  <br>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
