<h2>Sign up</h2>
<form class="form3">
<%= form_for(resource, as: resource_name, class:"form3", url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <span class="title">You really like the project</span>
    <span class="sub mb">Register to get full access now :)</span>
    <%= f.file_field :photo, class:"avatar" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name",  class:"input3", placeholder:"Name"%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"input3", placeholder:"Email" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> Characters Minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",  class:"input3", placeholder:"Password" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",  class:"input3", placeholder:"Confirm Password" %>

  
    <%= f.submit "Sign up", class:"button3" %>
<% end %>

<%= render "devise/shared/links" %>
</form>