<body> 
    <div class="container-fluid my_bg py-3 d-none d-md-block">
        <div class="container">
            <div class="mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <button>
    <% if user_signed_in? %>      
  <%= link_to "Sign Out", sign_out_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>
    <div class="arrow-wrapper">
        <div class="arrow"></div>
    </div>
</button>
                    </div>
            </div>
        </div>
    </div>

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary">Portfolio</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <p class="nav-item nav-link"><%= link_to 'Home', root_path %></p>
                        <p class="nav-item nav-link active"><%= link_to 'Skills', "/skills" %></p>
                        <p class="nav-item nav-link"><%= link_to 'Projects', "/projects" %></p>
                    </div>
                    <a href="index.html" class="navbar-brand mx-5 d-none d-lg-block">
                        <h1 class="m-0 display-4 text_colors">Portfolio</h1>
                    </a>
                    <div class="navbar-nav mr-auto py-0">
                        <p class="nav-item nav-link"><%= link_to 'Users', "/users" %></p>
                        <p class="nav-item nav-link"><%= link_to 'Technologies', "/technologies" %></p>
                        <p class="nav-item nav-link"><%= link_to 'Contact', "/contacts/new" %></p>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Navbar End -->

</body>